name: CI/CD

on: [push, workflow_dispatch]

env:
  DOCKER_BUILDKIT: 1

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['7.11.1']

    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.4

      - name: Build
        run: |
          docker build --tag kooldev/logstash:${{ matrix.version }} ${{ matrix.version }}

      - name: Tests
        run: |
          docker run kooldev/logstash:${{ matrix.version }} bin/logstash --version

      - name: Login to DockerHub
        uses: docker/login-action@v1
        if: github.ref == 'refs/heads/master' && github.repository == 'kool-dev/docker-logstash'
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push to DockerHub
        if: github.ref == 'refs/heads/master' && github.repository == 'kool-dev/docker-logstash'
        run: |
          docker push kooldev/logstash:${{ matrix.version }}
